# Production
services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRETS=${JWT_SECRETS}
      - VERIFY_CREATE_USER=${VERIFY_CREATE_USER}
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    depends_on:
      - db
    restart: always

  db:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres-data:
    driver: local
