# Production
services:
  app_sidispem:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - "3002:3001"
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    depends_on:
      - db_sidispem
    restart: always
    command: ["npm", "run", "start:prod"] # Executando o comando start:prod
  db_sidispem:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres-data:
    driver: local
